
/* imports */
@import 'mixins.scss';

$dark: #333;
$green: #5EBF64;
$sky: #5EDDF2;
$road: #61351E;
$game-font: 'VT323', "Lucida Console", Monaco, monospace;

body {
    color: white;
    background-color: $dark;
    font-family: $game-font;
}

.game-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    button.start {
        border: none;
        background-color: tomato;//$sky;
        height: 60px;
        width: 120px;
        cursor: pointer;
        color: white;
        font-size: 1.1em;
        font-family: $game-font;
    }

    button.restart {
        border: none;
        background: transparent;
        display: block;
        color: #ff99aa;
        //font-weight: bold;
        font-size: 0.6em;
        margin: 0 auto;
        cursor: pointer;
        font-family: $game-font;
    }
}

.game {
    position: relative;
    overflow: hidden;
    width: 800px;

    .pause, .game-over {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4em;
        //font-weight: bold;
        text-transform: lowercase;
        border: 8px dashed white;
        padding: 20px;
    }
    .score {
        position: absolute;
        font-size: 1.5em;
        top: 20px;
        right: 20px;
    }
    .sky {
        height: 250px;
        width: 100%;
        background: repeat-x url('/pic/sky.svg') $sky;
    }

    .road {
        height: 100px;
        width: 100%;
        background: repeat-x url('/pic/road.svg') $road;
    }


    .runner {
        width: 112px;
        height: 72px;
        background: no-repeat url('/pic/runner.svg');
        background-position: center 100%;
        position: absolute;
        bottom: 0;
        &.down {
            background-image: url('/pic/runner-down.svg');
        }
    }

    .tree {
        position: absolute;
        bottom: 0;
        &.normal {
            background: no-repeat center url('/pic/tree.svg');
        }
        &.big {
            background: no-repeat center url('/pic/tree-big.svg');
        }
        &.bird {
            background: no-repeat center url('/pic/bird.svg');
        }
        &.bird-small {
            background: no-repeat center url('/pic/bird-small.svg');
        }
    }


}


a, a:hover,
a:active,
a:focus {
    outline: 0;
}

.hidden {
    display: none;
}

.clear {
    width: 100%;
    clear: both !important;
    display: block;
}
