
/* imports */
@import 'mixins.scss';

$dark: #333;
$green: #5EBF64;
$sky: #5EDDF2;
$road: #61351E;

body {
    color: white;
    background-color: $dark;
}

.game-wrapper {
    margin: 3em 1em;
    h1 { }
}

.game {
    position: relative;
    overflow: hidden;
    width: 800px;

    .sky {
        height: 250px;
        width: 100%;
        background: repeat-x url('/pic/sky.svg') $sky;
    }

    .road {
        height: 100px;
        width: 100%;
        background: repeat-x url('/pic/road.svg') $road;
    }


    .runner {
        width: 112px;
        height: 72px;
        background: no-repeat url('/pic/runner.svg');
        background-position: 100% 100%;
        position: absolute;
        bottom: 0;
        &.down {
            background-image: url('/pic/runner-down.svg');
        }
    }

    .tree {
        position: absolute;
        bottom: 0;
        &.normal {
            background: no-repeat center url('/pic/tree.svg');
        }
        &.big {
            background: no-repeat center url('/pic/tree-big.svg');
        }
        &.bird {
            background: no-repeat center url('/pic/bird.svg');
        }
        &.bird-small {
            background: no-repeat center url('/pic/bird-small.svg');
        }
    }


}


a, a:hover,
a:active,
a:focus {
    outline: 0;
}

.hidden {
    display: none;
}

.clear {
    width: 100%;
    clear: both !important;
    display: block;
}
